<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Beacon Project{% endblock %}</title>
        <link href="{{ asset('css/all.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="container-main">
        <div class="project-info">
            <img src="{{ asset('images/logo.png') }}" alt="Beacon Logo">
            <h1>Medifinder</h1>
        </div>
        <h2 class="last-use-header">Last Beacon Connection:</h2>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Beacon Addresses:</label>
            <select class="form-control" id="exampleFormControlSelect1" onchange="beaconFilter(this.value)">
                <option>Pick Address</option>
                {% for beacon in beacons %}
                    <option value="{{ beacon.deviceAddress }}">{{ beacon.equipment }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="last-use-container">
            <div class="last-use-info">
                <h2>Equipment:</h2>
                <div class="data" id="equipment">
                    {{ lastBeacon.equipment }}
                </div>
            </div>
            <div class="last-use-info">
                <h2>Connect Time:</h2>
                <div class="data" id="connectTime">
                    {{ lastBeacon.connectionTime|date('m-d-Y H:i:s') }}
                </div>
            </div>
            <div class="last-use-info">
                <h2>Disconnect Time:</h2>
                <div class="data" id="disconnectTime">
                    {% if lastBeacon.disconnectionTime is null %}
                        -
                    {% else %}
                        {{ lastBeacon.disconnectionTime|date('m-d-Y H:i:s') }}
                    {% endif %}
                </div>
            </div>
            <div class="last-use-info">
                <h2>Device Room:</h2>
                <div class="data" id="deviceRoom">
                    {{ lastBeacon.room }}
                </div>
            </div>
        </div>
        <img src="{{ asset('images/beacon.png') }}" alt="" class="beacon-img">
        <h2 class="last-use-header">Connection Log:</h2>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Beacon Address</th>
                <th>Detect Time</th>
                <th>Device Room</th>
            </tr>
            </thead>
            <tbody>
            {% for ping in pings %}
                <tr>
                    <td>{{ ping.deviceAddress }}</td>
                    <td>{{ ping.detectTime|date('m-d-Y H:i:s') }}</td>
                    <td>{{ ping.room }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <span class="terms">© 2020 Millennial Digital Agency - Developers: Ivan Avramov & Dyanko Yovchev </span>
    </footer>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );

        function parseJsonDate(jsonDateString){
            return new Date(parseInt(jsonDateString.replace('/Date(', '')));
        }

        function beaconFilter(beaconAddress) {
            console.log(beaconAddress);
            $.ajax({
                type:'POST',
                url: '/beacon',
                dataType: 'json',
                data: 'beaconAddress=' + beaconAddress,
                success: function (obj) {
                    obj = JSON.parse(obj);
                    if (obj.status == "ok") {
                        if (!obj.disconnectTime || obj.disconnectTime == '-') {
                            obj.disconnectTime = "-";
                        } else {
                            console.log(obj.disconnectTime)
                            obj.disconnectTime = obj.disconnectTime.date.replace('.000000','');
                        }

                        $('#equipment').text(obj.equipment);
                        $('#connectTime').text(obj.connectTime.date.replace('.000000',''));
                        $('#disconnectTime').text(obj.disconnectTime);
                        $('#deviceRoom').text(obj.room);
                    }
                },
                error: function () {
                }
            });
        }
    </script>
    </body>
</html>
